# Exercícios - Introdução ao Python

# Variáveis
2.	Atribua os seguintes valores às variáveis, um a um:

In [ ]:
a = 347
b = 2.71
c = "347"
d = 2+3j

3.	Quais os tipos das variáveis acima?

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

4.	Faça uma atribuição múltipla das variáveis do exercício 2.

In [ ]:
x, y, z = 3,8,9
print(x)
print(y)
print(z)

5.	Declare a seguinte variável e verifique o que acontece
    a.	teste = true

In [ ]:
teste = True

print(type(teste))
print(teste)

6.	Transforme as variáveis do exercício 2 conforme segue:
a.	para float /
b.	para inteiro / 
c.	para float / 
d.	para string

In [ ]:
a = float(a)
print(a)
print(type(a))

b = int(b)
print(b)
print(type(b))

c = float(c)
print(c)
print(type(c))

d = str(d)
print(d)
print(type(d))

7.	Crie uma variável complexa com os valores de 2.a e 2.b

In [ ]:
aComplex = 2*a+1j
print(aComplex)

bComplex = 2*b + 1j
print(bComplex)

# Operadores

2.	Defina as seguintes variáveis x = 3, y = 4.0, z = 12 e t=’beterraba’

In [ ]:
x = 3
y = 4.0
z = 12
t = 'beterraba'

print(x)
print(y)
print(z)
print(t)

3.	Calcule:
a.	x + y |
b.	z – y |
c.	y ** x |
d.	x * z |
e.	z / x |
f.	y / x |
g.	y % x |

In [ ]:
# adição
x+y

In [ ]:
# subtração
z-y

In [ ]:
# exponenciação
y**x

In [ ]:
# multiplicação
x*z

In [ ]:
# divisão
z/x

In [ ]:
# resto da divisão
y%x

4.	Teste as seguintes relações:

a.	x > y |
b.	x * y == z |
c.	t == y |
d.	x < y and x > z

In [ ]:
x>y

In [ ]:
x*y==z

In [ ]:
t==y

In [ ]:
x<y and x>z

# Operações com string
2.	Crie uma variável com seu nome completo.

In [ ]:
nomeCompleto = "Eduardo Vitor da Silva Inocencio"
print(nomeCompleto)

3.	Escreva a variável em lowercase.

In [ ]:
nomeCompleto.lower()

4.	Escreva em uppercase.

In [ ]:
nomeCompleto.upper()

5.	Verifique se o nome começa com a letra P.

In [ ]:
nomeCompleto.startswith('P')

6.	Verifique se o nome termina com a letra J.

In [ ]:
nomeCompleto.endswith('J')

7.	Fatie a string para apenas o 1o nome.

In [ ]:
a = nomeCompleto.find("o")+1
nomeCompleto[:a]

8.	Fatie a string de 2 em 2.

In [ ]:
nomeCompleto[::2]

9.	Considerando os espaços, qual o tamanho do seu nome?

In [ ]:
len(nomeCompleto)

# Listas

2.	Crie uma lista com nomes de 4 times de futebol.

In [ ]:
teams = [
    'Palmeiras',
    'São Paulo',
    'Santos',
    'Água Santa'
]

print(teams)

3.	Acesse o time que está na 3a posição.

In [ ]:
teams[3]

4.	Crie uma lista com duas listas de 3 times de futebol, cada uma de uma divisão diferente.

In [ ]:
teams_division = [
    

    ['Paris Saint German','Manchester','Palmeiras'],
    ['Água Santa','Taperinha','São Caetano']
]

print(teams_division)

5.	Crie uma lista com 3 diferentes moedas. Acrescente mais 2 outras moedas à essa mesma lista.

In [ ]:
currency = ['real','dolar','pounds']
currency

In [ ]:
a = ['euro','rand','peso']

for i in a:
    currency.append(i)

In [ ]:
currency

6.	Crie uma string com a lista do exercício anterior.

In [ ]:
string_currency = ",".join(currency)
string_currency

7.	Agora utilize a string do exercício 6 para recriar uma lista.

In [ ]:
list(string_currency.split(','))

# Dicionários

2.	Crie um dicionário chamado cardapio em que as chaves são os dias da semana e os respectivos valores sejam os pratos do dia

In [ ]:
cardapio = {
    
    'segunda':'Frango a parmegiana',
    'terça': 'arroz biro biro',
    'quarta': 'feijoada',
    'quinta': 'Virado paulista',
    'sexta': 'Bife a cavalo'
}

cardapio["segunda"]

3.	Crie um dicionário chamado hemograma que contenha as seguintes chaves:valor

In [ ]:
hemograma = {
    'hemacias': 4.71,
    'hemoglobina': 14.1,
    'hematocrito': 41.2,
    'linfocitos': 38,
    'monocitos': 7,
    'resultado': 'saudável'
}

hemograma

4.	Corrija o dicionário acima com monocitos:12.

In [ ]:
hemograma['monocitos'] = 12
hemograma