### Importando a biblioteca

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_xml('C:\\Users\\dell\\OneDrive\\Área de Trabalho\\Curso Python - Escola SENAI Suiço Brasileira\\001 - Exercícios\\Arquivo XML.xsl')

In [4]:
df.head()

,method,version,indent,match,html,language,implements-prefix,{urn:schemas-microsoft-com:xslt}script
0,html,4.0,yes,None,NaN,None,None,None
1,None,NaN,None,//dataroot,NaN,None,None,None
2,None,NaN,None,None,NaN,VBScript,fx,Option Explicit\n\t\n\t' *********************...

### Criando uma série numérica a partir de uma lista - pd.Series

In [ ]:
idades = pd.Series([15,20,30,40,50,60])
print(idades)

### Alterando o índice que queremos para a Series.

In [ ]:
index = ["João","Ana","Maria","Jorge","Rose","Jorge"]
idades.index = index

print(idades)

### Confirmando os índices

In [ ]:
idades.index

### Obtendo os valores

In [ ]:
idades.values

### Criando um dataframe com arrays

In [ ]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), columns = ['a','b','c'])
df

### Criando um dataframe com dicionários

In [ ]:
dados = {'valor1':[1,2],'valor2':[3,4],'valor3':[5,6]}

df2 = pd.DataFrame(data=dados)
df2

### Criando um dataframe com dicionário e alterando os índices

In [ ]:
dados = {'valor1':[1,2],'valor2':[3,4],'valor3':[5,6]}

df3 = pd.DataFrame(data=dados, index = ['a','b'])
df3

### Retornando os valores e colunas de um dataframe

In [ ]:
df3.values

In [ ]:
df3.columns

### Lendo um arquivo e criando um dataframe

In [ ]:
df = pd.read_excel('C:\\Users\\dell\\Downloads\\bank-full.xlsx',sheet_name='Sheet 1 - bank-full')

### Exibindo o cabeçalho do dataframe

In [ ]:
df.head()

### Analisando o final do dataframe

In [ ]:
df.tail()

###  Modificando o cabeçalho do dataframe

In [ ]:
df.columns = [
    'idade','job','estado civil','educação','default',
    'balance','housing','empréstimo','contato','dia',
    'mes','duracao','campanha','pdays','previous','poutcome'
]

df

### Modificando o cabeçalho de colunas específicas

In [ ]:
df.rename(columns={'idade':'Idade','job':'Profissão'})

### Retornando as informações do dataframe

In [ ]:
df.info()

### Analisando algumas estatísticas básicas do dataframe (variáveis numéricas)

In [ ]:
df.describe()

### Retornando estatísticas básicas do dataframe (variáveis categóricas)

In [ ]:
df.describe(include=['O'])

### Retornando estatísticas básicas do dataframe (variáveis categóricas e numéricas)

In [ ]:
df.describe(include='all')

### Retornando colunas de um dataframe

In [ ]:
df['age']

In [ ]:
df.age

### Retornando mais de uma coluna no dataframe

In [ ]:
df[['age','day','job']]

# Seleção: iloc

Retornando a primeira linha do dataframe

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[[1]]

Retornando a última linha do dataframe.

In [ ]:
df.iloc[[-1]]

Retornando uma fatia de linhas

In [ ]:
df.iloc[0:3]

In [ ]:
df.iloc[:,1]

Retornando todas as linhas e um fatiamento de colunas do dataframe.

In [ ]:
df.iloc[:,1:3]

Uma linha e um fatiamento de colunas.

In [ ]:
df.iloc[1,0:3]

Um fatiamento de linhas e colunas.

In [ ]:
df.iloc[0:2,0:3]

Um array e um fatiamento de colunas.

In [ ]:
df.iloc[[0,5,8],0:3]

# Seleção: loc

Selecionando uma linha

In [ ]:
df.loc[[1]]

In [ ]:
df.loc[1]

Selecionando um conjunto de linhas.

In [ ]:
df.loc[[0,1,2]]

Selecionando uma fatia de linhas.

In [ ]:
df.loc[0:3]

Selecionando uma lista de linhas e colunas.

In [ ]:
df.loc[[0,1],['age','job','default']]

Selecionando uma fatia de linhas e colunas.

In [ ]:
df.loc[0:2,['age','job','default']]

Selecionando dados com uma condição

In [ ]:
df.loc[df.age > 55]

Selecionando dados com mais de uma condição.

In [ ]:
df.loc[(df.age > 55) & (df.job == 'technician')]