In [30]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\\Users\\dell\\OneDrive\\Área de Trabalho\\Check\\Curso Python - Escola SENAI Suiço Brasileira\\001 - Exercícios\\Northwind.accdb;')
sql = "select distinct País from Cidades" 
data = pd.read_sql(sql,conn)  

data

               País
0          Alemanha
1         Argentina
2           Áustria
3           Bélgica
4           Bolívia
5            Brasil
6             Chile
7           Equador
8               EUA
9   Federação Russa
10           França
11           Itália
12            Japão
13           México
14        Nicaragua
15         Paraguai
16             Peru
17         Portugal
18          Uruguai
19        Venezuela

In [11]:
conn.close()